extends ../layout

block content 
  h1 Pokedex
  h4 Add More: 
    a.btn-floating.btn-large.ripple-effect.waves-light.red(href="/pokemon/new")
      i.material-icons add

  table.striped
    thead
      each val, index in pokemon[0]
        th= index
      th Edit
    tbody
      each poke in pokemon
        tr
          each val2, index2 in pokemon[0]
            td= poke[index2]
          td
            a.btn.waves-effect.waves-light edit