<!-- DO NOT TOUCH LINE 2 ! -->
<%- contentFor('body') %>

Pokemón home page.

<button type="button" name="button" id="add_new">+ Add New Pokemón</button>

<script type="text/javascript">
   var btn = document.getElementById("add_new");
   btn.addEventListener("click", function(){
     alert("the button works, Pokemón ! ");
   })

</script>
