extends ../layout
block content
      h3 Adding a new Pokemon
      .row
        form.col.s12(method="post", action="/pokemon")
          input(type="hidden", value="false", name="in_gym")
          .row
            .input-field.col.s6
              input#poke_name.validate(type='text', name="name")
              label(for='poke_name') Pokemon Name

          .row
            .input-field.col.s6
              select(name="trainer_id")
                option(value='', disabled='', selected='') Choose your option
                option(value='1') Markel
                option(value='2') Jacob
                option(value='3') Ella
                option(value='3') Valencia
              label Pokemon Trainer

          .row
            .input-field.col.12
              input#poke_cp.validate(type='number', name="cp")
              label(for='poke_cp', name="cp") Combat Power
          .row
            button.btn.waves-effect.waves-light(type='submit')
              | Submit
              i.material-icons.right send

          
