doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='Introducing Lollipop, a sweet new take on Android.')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0')
    title Pokemon
    link(rel="stylesheet" href="/stylesheets/style.css")
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet' href="/assets/materialize-css/dist/css/materialize.min.css") 
  body
    nav
      .nav-wrapper.red.darken-1
        a.brand-logo.center(href='/')
          img(src="/images/pokemon-logo.png")
        a.button-collapse(href='#', data-activates='mobile-demo')
          i.material-icons menu
        ul.left.hide-on-med-and-down
          li
            a(href='/trainers') Trainers
          li
            a(href='/pokemon') Pokemon
        ul#mobile-demo.side-nav
          li
            a(href='/trainers') Trainers
          li
            a(href='/pokemon') Pokemon
  block video
  main
    .container
      block content
  footer.page-footer.red.darken-1.center-align
    .footer-copyright
      .container.align-center
        | © 2016 Alexander Murphy, Galvanize

    script(src="/assets/jquery/dist/jquery.min.js")
    script(src='/assets/materialize-css/dist/js/materialize.min.js')
    script(src="/assets/datatables.net/js/jquery.dataTables.js")
    script(src="https://cdn.datatables.net/1.10.12/js/dataTables.material.min.js")
    script(src="/assets/vide/dist/jquery.vide.min.js")
    script(src="/javascripts/app.js")