#vide-pokemon{
  height:100%;
  width:100%;
  min-width: 100%;
  position: fixed;
  top:0;
  z-index: -100;
}
body{
  background-repeat: no-repeat;
  background-attachment: fixed;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
        }
  #main {
    flex: 1 0 auto;
  }
footer{
    position: fixed;
    bottom: 0;
    width: 100vw;
}