#vide-pokemon{
  height:100%;
  width:100%;
  min-width: 100%;
  position: fixed;
  top:0;
  z-index: -100;
}
body{
  background-repeat: no-repeat;
  background-attachment: fixed;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
        }
  #main {
    flex: 1 0 auto;
  }
footer{
    position: fixed;
    bottom: 0;
    width: 100vw;
}
div.badge.new {
  text-align: center;
  font-weight: 300;
  font-size: 0.8rem;
  color: #fff;
  background-color: #26a69a;
  border-radius: 2px;
  width: 50%;
}
.gym_battle {
  background-image: url('/images/poke-flat.png')
}