extends ../layout
block content
  .row.col.s6
    table.striped
      thead
        each val, index in trainers[0]
          th= index
        th Show Pokemon
      tbody
        each train in trainers
          tr
            each val2, index2 in trainers[0]
              td= train[index2]
            td
              a.btn.waves-effect.waves-light(href="/trainers/#{train.id}/pokemon") Show Pokemon